* {
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;;
}
header {
    border: 1px solid;
    /* padding: 90px; */
    text-align: center;
}
.flex-container {
    display: flex;
    background-color: DodgerBlue;
}

.flex-container {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    /* font-size: 30px; */
}
main{
    background-color: tomato;
}
aside{
    background-color: cornflowerblue;
}
article{
padding-left: 50px;
padding-right: 50px;
}
form{
    border: 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: aquamarine;
}
form, input{
    margin-top: 5px;
}
footer{
    text-align: center;
}